//==============================================================================

// Title:
// Footer Styling

// Description:
// Styling for the page footer

//==============================================================================

.footer
  width 100%
  float left
  padding 15px 0
  background #fff
  position relative
  z-index 2

.footer__copyright
  float left
  font-size 0.8125em

.footer__back-to-top
  float right
  font-size 0.8125em
  color #000
  font-weight 700