//==============================================================================

// Title:
// Recent Tweets

// Description:
// Recent tweets section styling.

//==============================================================================

.recent-tweets
  width 100%
  float left
  padding 70px 0 100px
  border-bottom 1px solid #d5d5d5

  .section-title
    background url('../images/tweets-icon.png') no-repeat left center

.recent-tweets__link
  float right
  font-weight 700
  color #3a424c
  margin 14px 0

.recent-tweets__list
  max-width 700px
  float left
  clear both
  border-top 1px solid #ededed

.recent-tweets__list__post
  width 100%
  float left
  padding 15px 0
  border-bottom 1px solid #ededed

.recent-tweets__list__post__content
  width 60%
  line-height 120%
  margin 0 0 20px
  float left
  clear both
  color #6d7681
  font-size 1.0625em

  a
    color #3a424c
    text-decoration underline
    transition color 0.3s ease
    &:hover
      text-decoration none

.recent-tweets__list__post__date
  float left
  clear both
  color #bac6d5
  font-size 0.8125em
  transition color 0.3s ease

  &:hover
    text-decoration none
    color #59d2d1

//------------------------------------------------------------------------------
// Retina Media Queries
//------------------------------------------------------------------------------

@media $mediaRetina

  .recent-tweets .section-title
    background url('../images/tweets-icon@2x.png') no-repeat left center
    background-size 39px

//------------------------------------------------------------------------------
// Media Queries
//------------------------------------------------------------------------------

@media (max-width: 380px)

  .recent-tweets
    padding 30px 0 0 0

  .recent-tweets__link
    display none

  .recent-tweets__list
    margin 0 0 40px 0

  .recent-tweets__list__post__content
    width 100%