footer.footer
  div.content-wrapper
    div.footer__copyright Copyright &copy;&nbsp;
      script.
        document.write(new Date().getFullYear())
      | , Sam Stefan.
    a(href="#").footer__back-to-top Back To Top