header.header
  div.content-wrapper
    h1.header__title
      span.header__title__heighlight Sam Stefan
      | is a product designer &amp; full stack web developer.

    span.header__spacer —

    div.header__address Bristol, England

    div.header__social-links
      a(href="http://twitter.com/samstefan", target="_blank").header__social-links__twitter
      a(href="http://dribbble.com/samstefan", target="_blank").header__social-links__dribbble
      a(href="http://github.com/samstefan", target="_blank").header__social-links__github