//==============================================================================

// Title:
// Forms

// Description:
// Form styling

//==============================================================================

.input-clear
  outline 0
  border 0px
  background transparent

.list-no-style
  list-style-type none
  margin 0
  padding 0

// IOS Resets
textarea
input[type='text']
input[type='password']
input[type='submit']
input[type='email']
input[type='checkbox']
input[type='date']
input[type='time']
  -webkit-appearance none
  outline none
