//==============================================================================

// Title:
// Structure

// Description:
// Page structure styling.

//==============================================================================

*
  box-sizing border-box

html
body
  height 100%
  color $textColour
  font-size 100%
  font-family $textFont
  margin 0
  background $backgroundColour
  -webkit-text-size-adjust none

img
video
  max-width 100%
  height auto
  width auto // ^ie8
  vertical-align top

::selection
  background #fffbbb
  color #000

::-moz-selection
  background #fffbbb
  color #000

.content-wrapper
  max-width 1200px
  padding 0 20px
  margin 0 auto
  clearfix()

.home-page
  width 100%
  float left
  position relative
  z-index 2
  background $backgroundColour
  margin 500px 0 0 0
