//==============================================================================

// Title:
// Typography

// Description:
// Styling for site wide typography.

//==============================================================================

//==============================================================================
// General
//==============================================================================

p
  line-height 1.4em

.section-title
  float left
  font-weight 700
  font-family $headingFont
  font-size 1.6875em
  padding 6px 0 6px 47px
  margin 0 0 60px 0

//==============================================================================
// Links
//==============================================================================

a
  &:link, &:visited
    text-decoration none

a
  &:hover
    text-decoration underline