//==============================================================================

// Title:
// Stylus Variables

// Description:
// Site wide variables.

//==============================================================================

//------------------------------------------------------------------------------
// Media Queries
//------------------------------------------------------------------------------

$mediaRetina = '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)'

//------------------------------------------------------------------------------
// Fonts
//------------------------------------------------------------------------------

$headingFont = 'calluna-1', 'calluna-2', serif
$textFont = 'proxima-nova-1', 'proxima-nova-2', sans-serif

//------------------------------------------------------------------------------
// Colours
//------------------------------------------------------------------------------

$backgroundColour = #fafafa